<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 定義 Log 檔案的存放路徑變數 -->
	<variable name="logDirectory" value="C:\\Logs\\" />

	<targets>
		<target name="ErrorFile" xsi:type="File"
                fileName="${logDirectory}Error_${date:format=yyyy-MM-dd_HH}.log"
                archiveFileName="${logDirectory}Error_{#}.log"
                archiveEvery="Hour"
                archiveNumbering="Rolling"
                maxArchiveFiles="24"
                layout="${longdate} |${level:uppercase=true}| ${logger} | ${message}"/>

		<target name="TraceFile" xsi:type="File"
                fileName="${logDirectory}Trace_${date:format=yyyy-MM-dd_HH}.log"
                archiveFileName="${logDirectory}Trace_{#}.log"
                archiveEvery="Hour"
                archiveNumbering="Rolling"
                maxArchiveFiles="24"
                layout="${longdate} |${level:uppercase=true}| ${logger} | ${message}"/>
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" final="true"/>
		<logger name="RewardTaiwan.*" level="Trace" writeTo="TraceFile" />
		<logger name="RewardTaiwan.Services.NLogService" level="Error" writeTo="ErrorFile" />
	</rules>
</nlog>
